.card {
    overflow: hidden;
    box-shadow: 2px, 20px, #888888;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: 20%;
  }
  
  path {
    pointer-events: all;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }
  
  .center{
    text-align: center;
    font-size: 200%;

  }
  
  .cbox {
    margin: auto;
    width: 30%;
    padding: 10px;
    background-color: #f3f2ef;
    border-radius: 10px 5%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .img {
    width: 100%;
    border-radius: 10px 5%;
  
  }
  
  .text1 {
    margin-top: 0%;
    color: #961414;
    font-size: 300%;
    margin-bottom: 0%;
  }
  
  .text2 {
    color: #fe7300;
    font-size: 280%;
  }
  
  .bigContainer {
    display: flex;
  }